{% load otree_tags staticfiles %}
{% load staticfiles %}
<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Secondo Gioco  - Istruzioni
    </h3>

<p>In questo gioco, devi prendere una <strong>decisione di distribuzione</strong> di gettoni tra te e l’altro giocatore nel tuo gruppo.</p> 

Sia tu che l'altro giocatore dovete rispondere alla stessa domanda. Quando entrambi avrete effettuato la vostra scelta, 
<strong>il computer estrarrà a caso</strong> la persona la cui scelta deciderà i gettoni vinti da entrambi.</p>

<p>In questo gioco ci sono due giocatori il <span style="color:red;font-weight:bold">giocatore A</span> e il <span style="color:blue;font-weight:bold">giocatore B</span>: </p>

<ul>
  <li>Il <span style="color:red;font-weight:bold">giocatore A</span> riceve 100 gettoni e deve decidere quanti gettoni tenere per se, e quanti gettoni <strong>dare</strong> al <span style="color:blue;font-weight:bold">giocatore B</span>. </li>
  <li>Il <span style="color:blue;font-weight:bold">giocatore B</span> può solo accettare i gettoni ricevuti dal <span style="color:red;font-weight:bold">giocatore A</span>, e non può rifiutare. </li>
</ul>

<p>Alla fine di questo gioco, il <span style="color:red;font-weight:bold">giocatore A</span> rimarrà con i gettoni che ha tenuto per sé,
 il <span style="color:blue;font-weight:bold">giocatore B</span> rimarrà con i gettoni ricevuti dal <span style="color:red;font-weight:bold">giocatore A</span>. </p>

<p></p>
<p></p>
     
<p>FACCIAMO DEGLI ESEMPI:<p>

<ul>
  <li><strong>ESEMPIO 1: Se ad esempio vieni estratto tu dal computer sarà la <u>TUA</u> scelta come
   <span style="color:red;font-weight:bold">giocatore A</span> a decidere i gettoni ricevuti da entrambi i componenti del tuo gruppo.</strong> </li>
</ul> 

<p> </p>

<p>Se ad esempio tu decidi di inviare all'altro giocatore 60 gettoni, 
a te resteranno 40 gettoni. Quello che l’altro partecipante 
 decide non ha effetto sui gettoni che tu e lui ricevete.</p>

<div class="container-fluid">
  <div class="row">
        <div class="col-sm-6">
		<img src="{% static "dictator/Dictator1.jpg" %}" class="img-responsive"/>
		<br />
    </div>
  </div>
</div>	
<div class="container-fluid">
  <div class="row">
        <div class="col-sm-6">
		<img src="{% static "dictator/Dictator2.jpg" %}" class="img-responsive"/>
		<br />
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
        <div class="col-sm-6">
		<img src="{% static "dictator/Dictator3.jpg" %}" class="img-responsive"/>
		<br />
    </div>
  </div>
</div>
<p></p>
<p></p>


 <ul>
  <li><strong>ESEMPIO 2: Se ad esempio il computer estrae l’altro giocatore, 
  allora sarà la <u>SUA</u> scelta come <span style="color:red;font-weight:bold">giocatore A</span> a decidere i gettoni ricevuti 
  da entrambi. </strong> </li>
</ul> 



<p>
Se ad esempio l’altro partecipante ha deciso inviarti 60 gettoni, a lui resteranno 40 gettoni. 
Quello che tu hai deciso non ha, in questo caso, effetto sui gettoni che tu e lui ricevete.
</p>

</div>
