{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Secondo Gioco  - Domande di comprensione 
{% endblock %}

{% block content %}

    {% if num_q == 1 %}
  	<p> 
  	
  	Queste domande servono a verificare che tu abbia compreso le regole del gioco, 
  	NON avranno effetto sul tuo compenso. </p>
  	
  	<p></p>
  	
  		<p> Hai a disposizione 100 gettoni, immagina di aver deciso di inviare 70 gettoni,
  		 immagina che il computer ti abbia selezionato come giocatore A. </p>


		<p>
		{% formfield player.question_A with label='Quanti gettoni ottieni alla fine del gioco?' %}
		</p>
		
	
		<p>
		{% formfield player.question_B with label='Quanti gettoni ottiene il giocatore B?' %}
		</p>
	
				
	</p>
  
    {% endif %}
    
    Quando hai effettuato le tue scelte clicca su <strong>Successivo</strong>.

    {% next_button %}


<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Clicca Per Rileggere le istruzioni
</button>
<div class="collapse" id="collapseExample">
  <div class="well">
  	{% include 'dictator/Instructions.html' %}
  </div>
</div>

    

{% endblock %}
