{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
Primo Gioco - Istruzioni
{% endblock %}

{% block content %}

<div class="instructions well well-lg" style="">

 


<p>	In questo gioco devi prendere decisioni che hanno un effetto sul tuo punteggio finale 
che dipende dalla tua scelta e da quelle effettuate dai membri del tuo gruppo.</p>
		
			
<p>Ora il computer formerà in maniera casuale e anonima, gruppi di 4 partecipanti,
di cui anche tu farai parte.</p>

<p> Non saprai chi sono i tuoi compagni di gruppo, e nessun altro conoscerà la composizione dei gruppi. <p>
</div>
    
<p>	Clicca su <strong> Successivo </strong> per continuare.</p>	
     

    {% next_button %}

{% endblock %}
