
<style type="text/css">
    ul {
        list-style-type:circle;
        padding-left:20px;
    }
    h3.panel-sub-heading {
        padding-bottom:10px;
        padding-left:4px;
    }

    td, th{
        text-align: center;
    }

    .rotate90 {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        position: absolute;
        top: 60%;
    }

    .instructions {
        position: relative;
        text-shadow: 0 1px 0 #fff;
        line-height: 1.5;
        margin: 60px auto;
        background-color: #f5f5dc;
        background-image: linear-gradient(to bottom, #f5f5dc 0px, #fbfbeb 100%);
        padding-top: 5px;
        padding-bottom: 15px;
        margin-top: 20px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .instructions:before, .instructions:after {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 15px;
        left: 10px;
        width: 50%;
        top: 80%;
        max-width:300px;
        background: rgba(0, 0, 0, 0.7);
        box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
        transform: rotate(-3deg);
    }

    .instructions:after {
        transform: rotate(3deg);
        right: 10px;
        left: auto;
    }
</style>
{% load staticfiles %}
<div class="instructions well well-lg" style="">
    <h4 class="panel-sub-heading">
    Istruzioni
    </h4>


				



	<p>Come prima, hai a disposizione 40 gettoni. Devi scegliere quanti di questi gettoni tenere nel tuo conto privato e quanti metterne in un
		progetto comune. I gettoni che non metti nel progetto comune, restano nel tuo conto privato.
		</p>
		
		<p><strong>
		Devi decidere un ammontare di gettoni da mettere nel progetto 
		comune in misura pari ai seguenti valori: 0, 10, 20, 30, 40.
		</strong></p>
	
			
		<p> 
		Come prima, i gettoni che metti nel progetto comune vengono raddoppiati e poi divisi equamente tra i 
		4 membri del tuo gruppo, tu incluso. </p>		


	<p><strong>	L'unica differenza rispetto alla Prima Decisione è che in questa Seconda Decisione, 
	non puoi decidere di non partecipare.</strong>	</p>
	
<p>Qui sotto sono riportate alcune vignette che sintetizzano
le regole della scelta per ricordarti come funziona la partecipazione al progetto comune.
</p>


		&nbsp&nbsp
				
		
<div class="container-fluid">
 
  <div class="row">
    <div class="col-sm-4">
      	<img src="{% static "PGG_Simple/PGG.png" %}" class="img-responsive"/>
		<br />
    </div>

   <div class="col-sm-4">
		<img src="{% static "PGG_Simple/PGG5.png" %}" class="img-responsive"/>
		<br />
    </div>
 
  <div class="col-sm-4">
		<img src="{% static "PGG_Simple/PGG6.png" %}" class="img-responsive"/>
		<br />
 
   </div>
 
  </div>
</div>	
			


				&nbsp&nbsp		
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      	<img src="{% static "PGG_Simple/PGG7.png" %}" class="img-responsive"/>
		<br />
    </div>
    <div class="col-sm-4">
		<img src="{% static "PGG_Simple/PGG8.png" %}" class="img-responsive"/>
		<br />	
    </div>
        <div class="col-sm-4">
		<img src="{% static "PGG_Simple/PGG9.png" %}" class="img-responsive"/>
		<br />	
    </div>
    
  </div>
</div>	








</div>
