
<style type="text/css">
    ul {
        list-style-type:circle;
        padding-left:20px;
    }
    h3.panel-sub-heading {
        padding-bottom:10px;
        padding-left:4px;
    }

    td, th{
        text-align: center;
    }

    .rotate90 {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        position: absolute;
        top: 60%;
    }

    .instructions {
        position: relative;
        text-shadow: 0 1px 0 #fff;
        line-height: 1.5;
        margin: 60px auto;
        background-color: #f5f5dc;
        background-image: linear-gradient(to bottom, #f5f5dc 0px, #fbfbeb 100%);
        padding-top: 5px;
        padding-bottom: 15px;
        margin-top: 20px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .instructions:before, .instructions:after {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 15px;
        left: 10px;
        width: 50%;
        top: 80%;
        max-width:300px;
        background: rgba(0, 0, 0, 0.7);
        box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
        transform: rotate(-3deg);
    }

    .instructions:after {
        transform: rotate(3deg);
        right: 10px;
        left: auto;
    }
</style>
{% load staticfiles %}
<div class="instructions well well-lg" style="">

    <h3 class="panel-sub-heading">
    Istruzioni Prima Decisione
    </h3>



      		
		
	
		&nbsp&nbsp
				
		
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      	<img src="{% static "PGG_Simple/PGG.png" %}" class="img-responsive"/>
		<br />
    </div>
    <div class="col-sm-4">
		<img src="{% static "PGG_Simple/PGG3.png" %}" class="img-responsive"/>
		<br />
	
    </div>
  </div>
</div>	
		&nbsp&nbsp
		<p> 
		I gettoni che metti nel progetto comune vengono raddoppiati e poi successivamente divisi equamente tra i 
		4 membri del gruppo, indipendentemente dal numero di gettoni messi da ognuno nel progetto comune.</p>
		<p> In fondo alla schermata è riportata la visualizzazione grafica dell'esempio illustrato nella pagina delle istruzioni 
		iniziali, per aiutarti nella comprensione. </p> 	
		
		
	&nbsp&nbsp
				<p></p>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
		<img src="{% static "PGG_Simple/PGG4.png" %}" class="img-responsive"/>
		<br />
    </div>
    <div class="col-sm-4">
		<img src="{% static "PGG_Simple/PGG5.png" %}" class="img-responsive"/>
		<br />
    </div>
        <div class="col-sm-4">
		<img src="{% static "PGG_Simple/PGG6.png" %}" class="img-responsive"/>
		<br />
    </div>
  </div>
</div>		
	&nbsp&nbsp
	

 </p>	
				&nbsp&nbsp		
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      	<img src="{% static "PGG_Simple/PGG7.png" %}" class="img-responsive"/>
		<br />
    </div>
    <div class="col-sm-4">
		<img src="{% static "PGG_Simple/PGG8.png" %}" class="img-responsive"/>
		<br />
  		</div>
    <div class="col-sm-4">
		<img src="{% static "PGG_Simple/PGG9.png" %}" class="img-responsive"/>
		<br />
    </div>
  </div>
</div>	



	
	
		
		

 			


</div>
