
<p>	In questa parte dello studio Lei deve prendere decisioni che avranno un effetto sul suo compenso finale.
Il compenso finale dipenderà dalla Sua scelta e da quella effettuata dai membri del Suo gruppo.</p>
			
			
<p>Ora il computer formerà gruppi di 4 partecipanti, in maniera casuale.
        Lei farà parte di uno di questi gruppi. I gruppi saranno formati anonimamente.
        Nessuno saprà di quale gruppo fa parte.</p>


<p> 
		Cosa deve fare in questa parte dello studio? Deve compiere due decisioni.</p>
				
				<p>  	<strong>Prima decisione</strong>	</p> 

		<p>Lei ha a disposizione 100 gettoni. Deve scegliere quanti di questi gettoni tenere nel Suo conto privato e quanti metterne in un
		progetto comune. 
		</p>
		<p> 
		Cosa avviene in seguito alla sua scelta?</p>
		<p> I gettoni che Lei mette nel progetto comune vengono raddoppiati e poi successivamente divisi equamente tra i 
		4 membri del gruppo. </p>		
		
		<p>Se tutti i componenti del gruppo mettono tutti i loro gettoni nel progetto comune, il compenso di tutti raddoppierà: 
		tutti otterrete 200 gettoni.</p>		
		<p>Ma se tutti mettono tutti i loro 100 gettoni iniziali, mentre Lei tiene per sè i suoi 100 gettoni iniziali,
		Lei otterrà 100+(600/4)=250 gettoni, mentre gli altri solo 150 gettoni. 
		</p>		
	
		<p> 
		Lei può scegliere ora di:<br>
		i)	  partecipare a questa parte del gioco <br>
		ii)	non partecipare e ottenere un bonus fisso di 100 gettoni (indipendentemente da ciò che gli altri decidono).<br>
		</p>
		
			<p>  	<strong>Seconda decisione</strong>	</p> 


		<p>Ora il computer formerà NUOVI gruppi di 4 partecipanti, in maniera casuale. 
		I Nuovi membri del suo gruppo non sono necessariamente gli stessi di prima. 
        Lei farà parte di uno di questi gruppi. I gruppi saranno formati anonimamente.
        Nessuno saprà di quale gruppo fa parte.</p>
        
        
		<p>Lei ha a disposizione 100 gettoni. Deve scegliere quanti di questi gettoni tenere nel Suo conto privato e quanti metterne in un
		progetto comune. 
		</p>
		<p>
		Diversamente dalla prima decisione in questo caso ogni partecipante deve partecipare obbligatoriamente. Non si può decidere di non partecipare al gioco.
		</p>
		<p> 
		Come nel caso precedente, i gettoni che Lei mette nel progetto comune vengono raddoppiati e poi successivamente divisi equamente tra i 
		4 membri del gruppo. </p>		
		
		<p>Se tutti i componenti del gruppo mettono tutti i loro gettoni nel progetto comune, il compenso di tutti raddoppierà: 
		tutti otterrete 200 gettoni.</p>		
		<p>Ma se tutti mettono tutti i loro 100 gettoni iniziali, mentre Lei tiene per sè i suoi 100 gettoni iniziali,
		Lei otterrà 100+(600/4)=250 gettoni, mentre gli altri solo 150 gettoni. 
		</p>		


 	
 <p>Le istruzioni resteranno disponibili sullo schermo per tutta la durata di questa parte dello studio.</p>
	<p>	Non esiti ad alzare la mano qualora ci fossero delle domande. Uno di noi verrà da Lei per risponderLe.</p>
     
